<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button_form.css') }}">

<h1 class="title">
    Knallfrosch 
</h1>
<h3 class="subtitle">
  Easy Door App.
</h3>

<!-- {% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-warning">
        {{messages[0]}}<br>
        {{messages[1]}}<br><br>
        {{messages[2]}}<br>
    </div>
{% endif %}
{% endwith %} -->

<a href="opendoor" id="dooruse" class="button is-danger is-large is-fullwidth" style="height:220px; margin-top:15%; margin-bottom:8%" role="button">TOR BEDIENEN</a>

<a href="logout" class="is-info" style="font-size:30px;" role="button">Logout</a>

{% endblock %}