<!-- templates/index.html -->

{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/button_form.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/circle.css') }}">
<script src="{{ url_for('static', filename='js/second_redirect.js') }}"></script> 
<h1 class="title">
    Knallfrosch 
</h1>
<h3 class="subtitle">
  Easy Door App.
</h3>

{% with messages = get_flashed_messages() %}
{% if messages %}
    <div class="notification is-warning">
        {{messages[0]}}<br>
        {{messages[1]}}<br>
    </div>
{% endif %}
{% endwith %}

<a href="" id="dooruse" class="button is-danger is-large is-fullwidth" style="height:220px; margin-top:2%; margin-bottom:8%;pointer-events: none;" role="button">
    <div class="circle">
    </div>
</a>

<a href="logout" class="is-info" style="font-size:30px;" role="button">Logout</a>

{% endblock %}